<div
  class="max-w-full rounded-3xl bg-radion py-16 px-20 lg:px-14 xl:px-16 text-start relative"
  data-aos="flip-left"
  data-aos-duration="800"
  data-aos-once="true">
  <h3 class=" max-w-full xs:max-w-[50%] text-3xl lg:text-4xl text-white mb-5 font-bold">{{ section.settings.title }}</h3>
  <p class=" max-w-full text-base xs:max-w-[45%] lg:max-w-[350px] text-white">{{ section.settings.desc }}</p>
  <img
    src="{{ section.settings.item_1 | img_url: 'master' }}"
    alt=""
    class="3xs:hidden xs:block absolute top-24 sm:top-4 right-0 sm:right-40">
  <img
    src="{{ section.settings.item_2 | img_url: 'master' }}"
    alt=""
    class="3xs:hidden lg:block absolute bottom-2 right-96 ">
  <img
    src="{{ section.settings.item_3 | img_url: 'master' }}"
    alt=""
    class="3xs:hidden sm:block absolute bottom-3 right-16">
  <img
    src="{{ section.settings.item_4 |  img_url: 'master' }}"
    alt=""
    class="3xs:hidden xs:block absolute top-8 right-24">
  <img
    src="../src/img/img-bg5.png"
    alt=""
    class="3xs:hidden xs:block absolute top-14 right-12">
  <img
    src="../src/img/img-bg6.png"
    alt=""
    class="hidden xs:block absolute top-8 right-40 lg:right-80">
</div>
{% schema %}
  {
    "name": "Banner Content",
    "tag": "section",
    "class": "section_wrapper",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "this is title"
      },
      {
        "type": "text",
        "id": "desc",
        "label": "Desc",
        "default": "this is desc"
      },
      {
        "type": "image_picker",
        "id": "item_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "item_2",
        "label": "Image 2"
      }, {
        "type": "image_picker",
        "id": "item_3",
        "label": "Image 3"
      }, {
        "type": "image_picker",
        "id": "item_4",
        "label": "Image 4"
      }
    ],
    "presets": [
      {
        "name": "Banner Content"
      }
    ]
  }
{% endschema %}